html {
  font-family: monospace, sans-serif;
  font-size: 12px;
}

* {
  font-family: monospace, sans-serif;
  font-size: 12px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#control {
  position: fixed;
  top: 50px;
  left: 50px;
  background: white;
  border: 1px solid black;
  z-index: 20;
  padding: 1rem;
}

#control input,
select {
  width: 100px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.75rem;
}

#control label {
  display: block;
}

#control[type="rows"] option[value="right"],
#control[type="rows"] option[value="left"] {
  display: none;
}

#control[type="columns"] option[value="top"],
#control[type="columns"] option[value="bottom"] {
  display: none;
}

#control[position="top"] #field-margin,
#control[position="right"] #field-margin,
#control[position="left"] #field-margin,
#control[position="bottom"] #field-margin {
  display: none;
}

#control[position="center"] #field-margin,
#control[position="center"] #field-offset {
  display: none;
}

#control[position="stretch"] #field-offset,
#control[position="stretch"] #field-height,
#control[position="stretch"] #field-width {
  display: none;
}

#control[type="rows"] #field-width,
#control[type="columns"] #field-height {
  display: none;
}

#grid-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

layout-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
